@media screen and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .menu--list,
    .header--right
    {
        display: none;
    }
    
    
    .mobile--menu--container {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 80vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        align-items: center;
        justify-content: center;
    }
    
    .mobile--menu--container ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }
    
    .mobile--menu--container ul li {
        margin: 20px 0;
    }
    
    .mobile--menu--container ul li a {
        color: white;
        font-size: 24px;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }
    
    .mobile--menu--container ul li a:hover {
        color: #f39c12;
    }
    
    .mobile--menu--container.active {
        display: flex; 
    }
    ul {
        list-style-type: none; 
    }
    li a{
        text-decoration: none;
    }
    
    .header--right {
        display: none;
    }

    .bars {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .main--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .main-header {
        justify-self: center;
        text-align: center;
    }

    .main--left {
        padding: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 426px) {
    .header {
        max-width: 100%;
        padding: 10px 15px;
    }

    .main {
        overflow: hidden;
    }
    .main--content {
        padding: 20px;
    }

    .main-header {
        font-size: 24px;
    }

    .main--left {
        padding: 10px;
        text-align: center;
    }

    .main--right {
        width: 100%; 
        text-align: center; 
    }

    .main--right img {
        width: 100%; 
        height: auto;
        max-width: 250px; 
        margin: 0 auto; 
    }
    .main--left h1 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .main--left p {
        font-size: 16px;
        color: #555;
        margin-bottom: 20px;
    }
    .email-outsider {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        max-width:425px;
        width: 100%;
        margin: 0 auto;
    }
    
    .email {
        padding: 10px;
        flex: 1;
    }
    .stats div h2 {
        font-family: Plus Jakarta Sans;
        font-size: 25px;
        font-weight: 500;
        color: black;
        width: 102px;
        height: 62px;
    }
    
    .stats div p {
        font-family: Plus Jakarta Sans;
        font-size: 12px;
        font-weight: 400;
        color: #7a7a7a;
        width: 77px;
        height: 40px;

    }
    .product--list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 10px;
    }
}
